<h1>Hello blogger</h1>
<hr>

<% @usrList.each do |usr| %>
  <div class="row">
    <div class="offset-md-4 col-md-4 offset-md-4 center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to gravatar_for(usr), user_path(usr) %>
          </h5>
          <hr>
          <div class="card-text center">
              <%= link_to usr.username, user_path(usr) %>
              <br>
              <small>
                <%= pluralize(usr.articles.count, "article") if usr.articles %>
              </small>
              <% if logged_in? and current_user.admin? %>
                <p align='center'>
                  <%= link_to "Delete this user", user_path(usr), method: :delete,
                    data: { confirm:"Are you sure want to delete this user and all their articles?" }
                  %>
                </p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
<% end %>
