
<% if @art.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      <%= pluralize(obj.errors.count, "Error") %>
    </h4>
    <p>Prohibited this article from being saved: </p>
    <hr>
    <p class="mb-0">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<br/>
